html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(137, 228, 240, 0.308)
}

.listTop {
  
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  
}



.listMain .listHeader input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(37, 25, 204);
  width: 150px;
}


.listMain .listHeader button:hover {
  
  background-color:rgb(14, 91, 192);
  border: 2px solid rgb(54, 54, 172);
  color: papayawhip
  
}

.listMain .theList li {
  
 
  font-size: 25px;
  background-image: linear-gradient(rgba(38, 0, 255, 0.637), rgba(0, 174, 255, 0.644));
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  list-style: none;
  transition: background-color .2s ease-out;
}
.listMain .theList li:hover {
  
  background-image: linear-gradient(rgba(255, 0, 0, 0.623) .05%, rgba(125, 204, 240, 0.753) 99%);
  cursor: pointer;

}
.theList {

  float: center;
  padding-left: 0;
}


textarea {
  overflow: auto;
}


.sidenav {
  height: 100%; 
  width: 0;
  position: fixed; 
  z-index: 1;
  top: 162px;
  left: 0;
  background-image: linear-gradient(rgba(0, 17, 255, 0.671), rgba(0, 247, 255, 0.712));
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding-top: 60px; 
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #f3f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #e91b1b5b;
}

.sidenav .closebtn {
  
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
 margin-left: 100px;
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

